{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/general.css' %}" rel="stylesheet"/>
    {% block misc %}{% endblock misc %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<nav class="mb-5 navbar navbar-expand-lg navbar-dark position-sticky bg-dark shadow-sm" style="top: 0;">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand fw-bold" style="color: #d63384" href="/">Board</a>
        <div class="d-flex align-items-center">
            {% if user.is_authenticated %}
                <a href="{% url 'ad_create' %}" class="btn btn-primary">Создать объявление</a>
                <a href="{% url 'feedbacks_list' %}" class="ms-3 btn text-info border border-info">Отзывы</a>
                <div class="ms-3">
                    <div class="mb-1 text-white lh-1">{{ user.username }}</div>
                    <a href="{% url 'logout' %}?next=/" class="d-block text-decoration-none lh-1">Выйти</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="ms-3 text-decoration-none">Войти</a>
            {% endif %}
        </div>
    </div>
</nav>
<main class="m-auto px-2">
    {% block content %}{% endblock content %}
</main>
</body>
</html>
