html, body {
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
      background-color: rgb(215, 215, 215);
      border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
      background-color: rgb(175, 175, 175);
}

body {
    min-height: 100vh;
    padding-bottom: 15px;
}

main {
    max-width: 1000px;
}

.title-link {
    transition: .25s;
}

.title-link:hover {
    color: #d63384 !important;
}

.pub-detail {
    color: rgb(150, 150, 150);
}

img {
    display: block;
    max-width: 100%;
}
