html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding-bottom: 15px;
}

main {
    max-width: 1000px;
}

.title-link {
    transition: .25s;
}

.title-link:hover {
    color: #d63384 !important;
}

.pub-detail {
    color: rgb(150, 150, 150);
}

img {
    display: block;
    max-width: 100%;
}
