{% extends 'layouts/base.html' %}

{% block title %}{{ ad.title }}{% endblock title %}

{% block content %}
    <article>
        {% if ad.author.user.id == user.id %}
            <a href="{% url 'ad_update' ad.id %}" class="text-decoration-none">Редактировать</a>
        {% endif %}
        <h1 class="m-0">{{ ad.title }}</h1>
        <p class="pub-detail mb-4">{{ ad.author }}, {{ ad.dt_created|date:"Y:m:d" }}</p>
        {% autoescape off %}
            {{ ad.content }}
        {% endautoescape  %}
    </article>
    {% if user.is_authenticated %}
        <h2 class="mt-3 fs-5 text-secondary">Оставить отзыв</h2>
        <form method="post" action="{% url 'left_feedback' ad.id %}">
            {% csrf_token %}
            <textarea name="content" class="mb-2 form-control" style="min-height: 250px;"></textarea>
            <button class="btn btn-primary">Отправить</button>
        </form>
    {% endif %}
{% endblock content %}
