{% extends 'layouts/base.html' %}

{% block title %}{{ ad.title }}{% endblock title %}

{% block content %}
    <article>
        {% if ad.author.user.id == user.id %}
            <a href="{% url 'ad_update' ad.id %}" class="text-decoration-none">Редактировать</a>
        {% endif %}
        <h1 class="m-0">{{ ad.title }}</h1>
        <p class="author mb-4">{{ ad.dt_created|date:"Y:m:d" }}</p>
        {% autoescape off %}
            {{ ad.content }}
        {% endautoescape  %}
    </article>
{% endblock content %}
